<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />

    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.print.css" rel="stylesheet" media="print">
    <link href="css/cal.css" rel="stylesheet">
    <link href="css/jquery-ui.css" rel="stylesheet">

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-calendar/1.0.0/calendar.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-app="cal" ng-controller="calCtrl as ctrl" ng-init="init()">
    <div class="" ng-if="currentAction == 'home'">
        <input type="text" name="email" ng-model="input.email" placeholder="Enter your Email"><br>
        <button class="btn btn-default" ng-click="Login(input.email)">Login</button>
    </div>

    <div class="" ng-if="currentAction == 'register'">
        <select ng-model="input.type">
            <option value="client">Client</option>
            <option value="consultant">Consultant</option>
        </select>
        <input type="text" name="firstName" ng-model="input.firstName" placeholder="Enter your First Name"><br>
        <input type="text" name="lastName" ng-model="input.lastName" placeholder="Enter your Last Name"><br>
        <input type="text" name="email" ng-model="input.email" placeholder="Enter your Email"><br>
        <button class="btn btn-default" ng-click="Register(input.type, input.firstName, input.lastName, input.email)">Register</button>
    </div>

    <div id="consultantSelect" ng-show="currentAction == 'clientCal'">
        Please select the consultant you would like to book an appointment with<p></p>
        <select id="consultants"  ng-click="SelectConsultant()" ng-model="consultantId"></select>
    </div>
    <div id='client-calendar' ng-show="currentAction == 'clientCal'" ui-calendar="clientConfig.calendar" ng-model="eventSources"></div>

    <div id='consultant-calendar' ng-show="currentAction == 'consultantCal'" ui-calendar="consultantConfig.calendar" ng-model="eventSources"></div>
</body>
</html>
